body {
  font: 15px arial, sans-serif;
  background-color: #17A589;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: #17A589;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

#chatborder {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
}

.chatlog {
   font: 15px arial, sans-serif;
   width: 270pt;
   margin: auto;
   border: none;
   color:#48C9B0;
}
#responses{
  color: white;
  padding-top: 5pt;
  padding-bottom: 5pt;
  border: none;
  background-color: white;
}
col-1{
  color: red;
}
row {
  color: black;
}
#chatbox {
  font: 17px arial, sans-serif;
  height: 22px;
  width: 100%;
}

#middle {
  margin: 0 auto;
  width: 270pt;
}
h1 {
  margin: auto;
}

pre {
  background-color: white;
  margin-left: 20px;
}
