
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body{
  background-color:#A9A9A9;
  margin: 0;
}
.content_wrapper{
  position:relative;
  margin:0 auto;
  min-width:320px;
  height:100vh;
  background-color:white;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
}
.header{
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  padding:10px 0px;
  top:0px;
  font-size:30px;
  color:white;
  background-color:#59af50;
  width:100%;
  text-align:center;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
  -moz-box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
  box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
}
.input-box{
  position:absolute;
  width:100%;
  bottom:0px;
  background-color:white;
}
.messages{
  width:100%;
  box-sizing:border-box;
  height:100%;
  padding: 85px 0px 0px 0px;
  overflow: auto;
}
.messages:after {
  content:'';
  display:block;
  padding-bottom:100px;
}

.message_wrapper{
  overflow: auto;
  position:relative;
  width:100%;
}
.message{
  font-family: 'Open Sans', sans-serif;
  border-radius: 1em;
  margin: 5px 10px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  max-width:70%;
  display:inline-block;
  font-size:12px;
  color:white;
}

.input{
 float:right;
 background-color:#59af50;
}
.output{
  background-color:#565656;
}

.news{
  background-color:white;
  border: 1px solid;
  border-color:#a5a5a5;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1em;
  margin: 5px 10px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  max-width:70%;
  display:inline-block;
  font-size:12px;
}
.button{
  position:absolute;
  right:0px;
  bottom:5px;
  background-color:white;
  margin-right: 30px;
  font-size:43px;
  text-align: center;
  color:#59af50;
}

.hover :hover{
  color:#6fd365;
}
#no_audio_icon{
  color:grey;
}
#audio_icon{
  display:none;
}

#send_button{

}

#message_area{
  font-family: 'Open Sans', sans-serif;
  background-color:#efefef;
  width:calc(100vw - 100px);
  margin:10px 10px 10px 10px;
  font-size:15px;
  padding:10px;
  resize: none;
  border: 1px solid;
  border-color:#a5a5a5;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.recording {
  -webkit-animation: blinking 1.5s infinite;  /* Safari 4+ */
  -moz-animation: blinking 1.5s infinite;  /* Fx 5+ */
  -o-animation: blinking 1.5s infinite;  /* Opera 12+ */
  animation: blinking 1.5s infinite;  /* IE 10+, Fx 29+ */
}

.social_media_panel {
  display:none;
  padding-top:40px;
  margin: -30px 10px 10px 10px;
  color:black;
  background-color:white;
  border: 1px solid;
  border-color:#a5a5a5;

}

@-webkit-keyframes blinking {
  0%{
    color:red;
  }
  50% {
    color:white;
  }
  100% {
    color:red;
  }
}

.typing_msg{
  display:none;
}
.dot{
  margin-right: 3px;
  font-size:7px;
  animation-timing-function: linear;
}
.inputDot{
  color:#59af50;
  -webkit-animation: waitingInput 1.5s infinite;  /* Safari 4+ */
  -moz-animation: waitingInput 1.5s infinite;  /* Fx 5+ */
  -o-animation: waitingInput 1.5s infinite;  /* Opera 12+ */
  animation: waitingInput 1.5s infinite;  /* IE 10+, Fx 29+ */
}
.outputDot{
  color:#565656;
  -webkit-animation: waitingOutput 1.5s infinite;  /* Safari 4+ */
  -moz-animation: waitingOutput 1.5s infinite;  /* Fx 5+ */
  -o-animation: waitingOutput 1.5s infinite;  /* Opera 12+ */
  animation: waitingOutput 1.5s infinite;  /* IE 10+, Fx 29+ */
}


#dot1 {
  animation-delay: 0.3s;
}
#dot2 {
  animation-delay: 0.6s;
}
#dot3 {
  animation-delay: 0.9s;
}

@-webkit-keyframes waitingOutput {
  0%{
    color:white;
  }
  100% {
    color:#565656;
  }
}
@-webkit-keyframes waitingInput {
  0%{
    color:white;
  }
  100% {
    color:#59af50;
  }
}
.drop_down_arrow{
  display:block;
  width:fit-content;
  text-align:center;
  padding:0;
  margin:-5px auto -15px auto;
  font-size:20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.drop_down_arrow:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.expandable:hover{
  background-color:#7f7e7e;
}

@media (min-width: 480px) {
  .message{
    font-size:13px;
    margin-left:20px;
    margin-right:20px;
  }
 }


@media (min-width: 768px) {
  .message{
    font-size:14px;
    margin-left:30px;
    margin-right:30px;
  }
 }


@media (min-width: 992px) {
  .message{
    font-size:15px;
    margin-left:40px;
    margin-right:40px;
  }
 }


@media (min-width: 1200px) {
  .message{
    font-size:17px;
    margin-left:50px;
    margin-right:50px;
  }
 }
