
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

body{
  background-color:#A9A9A9;
  margin: 0;
}
.content_wrapper{
  position:relative;
  margin:0 auto;
  min-width:320px;
  height:100vh;
  background-color:white;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.7);
}
.header{
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  padding:10px 0px;
  top:0px;
  font-size:30px;
  color:white;
  background-color:#59af50;
  width:100%;
  text-align:center;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
  -moz-box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
  box-shadow: 0px 1px 2px 1px rgba(128,128,128,1);
  cursor: pointer;
}
.input-box{
  position:absolute;
  width:100%;
  bottom:0px;
  background-color:white;
}
.messages{
  width:100%;
  box-sizing:border-box;
  height:100%;
  padding: 85px 0px 0px 0px;
  overflow: auto;
}
.messages:after {
  content:'';
  display:block;
  padding-bottom:100px;
}

.message_wrapper{
  overflow: auto;
  position:relative;
  width:100%;
}
.message{
  font-family: 'Open Sans', sans-serif;
  border-radius: 1em;
  margin: 5px 10px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  max-width:70%;
  display:inline-block;
  font-size:12px;
  color:white;
}

.input{
 float:right;
 background-color:#59af50;
}
.output{
  background-color:#565656;
}

.news{
  background-color:white;
  border: 1px solid;
  border-color:#a5a5a5;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1em;
  margin: 5px 10px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  max-width:70%;
  display:inline-block;
  font-size:12px;
  color:#565656;
  -webkit-transition: .5s;
  transition: .5s;
}

.hidden_news{
  display:none;
}

.button{
  position:absolute;
  right:0px;
  bottom:5px;
  background-color:white;
  margin-right: 30px;
  font-size:40px;
  text-align: center;
  color:#59af50;
}

.hover :hover{
  color:#6fd365;
}
#no_audio_icon{
  color:grey;
}
#audio_icon{
  display:none;
}

#send_button{

}

#message_area{
  font-family: 'Open Sans', sans-serif;
  background-color:#efefef;
  width:calc(100vw - 100px);
  margin:10px 10px 10px 10px;
  font-size:15px;
  padding:10px;
  resize: none;
  border: 1px solid;
  border-color:#a5a5a5;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.recording {
  -webkit-animation: blinking 1.5s infinite;  /* Safari 4+ */
  -moz-animation: blinking 1.5s infinite;  /* Fx 5+ */
  -o-animation: blinking 1.5s infinite;  /* Opera 12+ */
  animation: blinking 1.5s infinite;  /* IE 10+, Fx 29+ */
}

.social_media_panel {
  display:none;
  padding-top:40px;
  margin: -30px 10px 10px 10px;
  color:#565656;
  background-color:white;
  border: 1px solid;
  border-color:#a5a5a5;

}
.social_media_panel:hover{
  background-color:#f9f9f9;
}

@-webkit-keyframes blinking {
  0%{
    color:red;
  }
  50% {
    color:white;
  }
  100% {
    color:red;
  }
}

.typing_msg{
  display:none;
}
.dot{
  margin-right: 3px;
  font-size:7px;
  animation-timing-function: linear;
}
.inputDot{
  color:#59af50;
  -webkit-animation: waitingInput 1.5s infinite;  /* Safari 4+ */
  -moz-animation: waitingInput 1.5s infinite;  /* Fx 5+ */
  -o-animation: waitingInput 1.5s infinite;  /* Opera 12+ */
  animation: waitingInput 1.5s infinite;  /* IE 10+, Fx 29+ */
}
.outputDot{
  color:#565656;
  -webkit-animation: waitingOutput 1.5s infinite;  /* Safari 4+ */
  -moz-animation: waitingOutput 1.5s infinite;  /* Fx 5+ */
  -o-animation: waitingOutput 1.5s infinite;  /* Opera 12+ */
  animation: waitingOutput 1.5s infinite;  /* IE 10+, Fx 29+ */
}


#dot1 {
  animation-delay: 0.3s;
}
#dot2 {
  animation-delay: 0.6s;
}
#dot3 {
  animation-delay: 0.9s;
}

@-webkit-keyframes waitingOutput {
  0%{
    color:white;
  }
  100% {
    color:#565656;
  }
}
@-webkit-keyframes waitingInput {
  0%{
    color:white;
  }
  100% {
    color:#59af50;
  }
}
.drop_down_arrow{
  cursor: pointer;
  display:block;
  width:fit-content;
  text-align:center;
  padding-bottom:0px;
  margin:8px auto -13px auto;
  font-size:20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.expandable .drop_down_arrow:hover{
  color:black;
}
.rotate{
  transform: rotate(180deg);
}
.summary{
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height: 100vh;
  margin-top:65px;
  padding:30px 30px 0px 30px;
  box-sizing: border-box;
  z-index:2;
  font-size: 12px;
  color:white;
  background-color:#565656;
  opacity:0.95;
  overflow: auto;
}
.summary:after {
  content:'';
  display:block;
  padding-bottom: 100px;
  margin-bottom:60px;
}
.news_title{
  width:fit-content;
  margin: 8px 0px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}


.summary_title{
  text-align:center;
  font-size:18px;
}

.summary_title a{
  color:#00BFFF;
}
.summary_title a:hover{
  color:#00FFFF;
}


.expandable:hover{
  background-color:#7f7e7e;
  cursor: pointer;
}

.notifications{
  position:fixed;
  top:0px;
  right:-320px;
  width:320px;
  height: 100vh;
  background-color:#efe8e8;
  margin:67px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  box-sizing: border-box;
  z-index: 1;
  opacity:0.90;
  transition: all 0.5s;
  overflow: scroll;
}
.notifications:after {
  content:'';
  display:block;
  padding-bottom:100px;
  background-color:#efe8e8;
  opacity:0.80;

}
.slide {
    right: 0;
}
.notify{
  position:fixed;
  top:18px;
  right:35px;
  color:white;
  font-size:25px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

}
.notify:hover{
  transform: rotate(360deg);
}
.notification{
  border-radius: 0;
  margin:0;
  background-color:white;
  margin: 5px 0px 5px 0px !important;
  padding: 10px 15px 5px 15px;
  overflow-wrap: break-word;
  max-width:100%;
  width:100%;
  display:inline-block;
  opacity:0.95;
  background-color: #efe8e8;
  color:black;
}
.notification:after{
  content: " ";
  display:block;
  padding:0px;
  border-color:gray;
  border-bottom-style: solid;
  border-bottom-width:1px;
  width:270px;
  opacity:0.85;
  margin:0 auto;
}
.notification:hover{
  background:#565656;
  color:white !important;
}
.unread {
  -webkit-animation: notification_animation 0.8s infinite;  /* Safari 4+ */
  -moz-animation: notification_animation 0.8s infinite;  /* Fx 5+ */
  -o-animation: notification_animation 0.8s infinite;  /* Opera 12+ */
  animation: notification_animation 0.8s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes notification_animation {
  0%{
    color:white;
  }
  50% {
    color:#59af50;
  }
  100% {
    color:white;
  }
}

@media (min-width: 480px) {
  .message{
    font-size:13px;
    margin-left:20px;
    margin-right:20px;
  }
  .summary{
    padding-left:60px;
    padding-right:60px;
    font-size:13px;
  }
  .summary_title{
    font-size:20px;
  }
 }


@media (min-width: 768px) {
  .message{
    font-size:14px;
    margin-left:30px;
    margin-right:30px;
  }
  .summary{
    padding-left: 90px;
    padding-right:90px;
    font-size:14px;
  }
  .summary_title{
    font-size:22px;
  }
 }


@media (min-width: 992px) {
  .message{
    font-size:15px;
    margin-left:40px;
    margin-right:40px;
  }
  .summary{
    padding-left:150px;
    padding-right:150px;
    font-size:15px;
  }
  .summary_title{
    font-size:24px;
  }
 }


@media (min-width: 1200px) {
  .message{
    font-size:17px;
    margin-left:50px;
    margin-right:50px;
  }
  .summary{
    padding-left:200px;
    padding-right:200px;
    font-size:17px;
  }
  .summary_title{
    font-size:28px;
  }
 }
